<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>Perceptron Demo</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='viz.js') }}"></script>
        <script src="{{ url_for('.static', filename='main.js') }}"></script>
    </head>
    <body>
        <div id="intro">
            <p>This web app demonstrates how a single-layer artificial neural network works.</p>
            <p>The ANN is learning to differentiate between two patterns (Pattern 0 and Pattern 1). Think of each pattern as a line of light hitting neurons in the retina - each neuron fires (set to 1) if there is light, but stays inactive (set to 0) otherwise.</p>
            <p>Using its weights, the ANN then decides whether it is Pattern 0 or Pattern 1 (the number on the far right in each trial). If this number matches the input pattern number, the ANN is correct and no change is necessary. If this number does <emph>not</emph> match the input pattern number, however, then the weights are adjusted.</p>
            <p>This process is then repeated; as long as the ANN gets either pattern incorrect, it will continue changing the weights.</p>
            <p>Try changing the patterns or the initial weights - <emph>the ANN always learns the correct classifications</emph> at the end.</p>
        </p></div>
        <div id="control">
            <table id="init">
            </table>
            <p>
                Learning Rate: <select id="learning_rate">
                    <option>0.0</option>
                    <option selected="selected">0.1</option>
                    <option>0.2</option>
                    <option>0.3</option>
                    <option>0.4</option>
                    <option>0.5</option>
                    <option>0.6</option>
                    <option>0.7</option>
                    <option>0.8</option>
                    <option>0.9</option>
                    <option>1.0</option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Activation Threshold: <select id="threshold">
                    <option>0.00</option>
                    <option>0.05</option>
                    <option>0.10</option>
                    <option>0.15</option>
                    <option>0.20</option>
                    <option>0.25</option>
                    <option>0.30</option>
                    <option>0.35</option>
                    <option>0.40</option>
                    <option>0.45</option>
                    <option>0.50</option>
                    <option>0.55</option>
                    <option>0.60</option>
                    <option>0.65</option>
                    <option>0.70</option>
                    <option selected="selected">0.75</option>
                    <option>0.80</option>
                    <option>0.85</option>
                    <option>0.90</option>
                    <option>0.95</option>
                    <option>1.00</option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" id="random">Randomize Patterns</input>
            </p>
            <p><button id="train" onclick="run();">Train</button></p>
        </div>
        <hr>
        <div id="log"></div>
        <script>create_patterns();</script>
    </body>
</html>
