<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>Memory Diagrammer</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='viz.js') }}"></script>
        <script src="{{ url_for('.static', filename='main.js') }}"></script>
    </head>
    <body>
        <div id="lhs">
            <textarea id="input">
stack [
    main() {
        AVLTree tree = tree;
    },
    AVLTree.insert(int num) {
        AVLTree this = tree;
        int num = 7;
    },
    AVLTree.insert(node, new_node) {
        AVLTree this = tree;
        Node node = node8;
        Node new_node = node7;
    },
    AVLTree.insert(node, new_node) {
        AVLTree this = tree;
        Node node = node6;
        Node new_node = node7;
    },
    AVLTree.balance(node) {
        AVLTree this = tree;
        Node node = node6;
    }
];

AVLTree tree = {
    Node root = node7;
    int size = 6;
};

Node node8 = {
    int value = 8;
    Node left = node6;
    Node right = null;
};

Node node6 = {
    int value = 6;
    Node left = null;
    Node right = node7;
};

Node node7 = {
    int value = 7;
    Node left = null;
    Node right = null;
};
            </textarea><br>
            <button id="drawButton">Draw</button>
        </div>
        <div id="rhs"></div>
    </body>
</html>
