<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>A Flask blueprint template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="static/main.js"></script>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>

    <body>

        <h1>A Flask blueprint template</h1>

        <p><a href="hello">Hello</a></p>

        <div id="controller">

    </body>
</html>
